.navbar{
  position: fixed;
  top:0;
  width: 93%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--very-light-pink) ;
  z-index: 2;
  background-color: white;
}
.navbar-rigth{
  display: flex;
  z-index: 2;
}
.nav-menu{
  width: 25px;
  height: 25px;
  z-index: 2;
}
.nav-logo{
  width: 120px;
  z-index: 2;
}
.navbar-rigth ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  display: none;
  z-index: 2;
}
.navbar-rigth ul li a{
  text-decoration: none;
  color: var(--very-light-pink);
  padding: 12px;
  z-index: 2;
}
.navbar-rigth ul li a:hover{
  border:1px solid var(--hospital-green);
  color:var(--hospital-green);
  font-weight: bold;
  border-radius: 12px;
}
.navbar-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.navbar-left p{
  color:var(--black);
  font-size: var(--sm);
  font-weight: bold;
  margin-right: 12px;
  z-index: 2;
  cursor: pointer;
}
.navbar-left div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navbar-left div div{
  position: absolute;
  border-radius: 50%;
  background-color: var(--hospital-green);
  width: 18px;
  right: -10px;
  top: -8px;
}
.navbar-shoping{
  cursor: pointer;
  transition:all 1s ease
}
.navbar-shoping:hover{
  transform: scale(1.2,1.2);
}

@media (min-width:620px) {
  /* navbar */
  .navbar{
      padding: 24px;
      width: 97%;
  }
  .nav-menu{
      display: none;
  }
  .navbar-rigth ul{
      display: flex;
  }
}